fastapi
uvicorn[standard]
pydantic
pydantic-settings
dependency-injector
apscheduler
aio-pika
asyncpg
redis
minio
scikit-learn
xgboost
numpy
joblib
pytest
testcontainers[minio,rabbitmq,postgres]
pytest-asyncio
